@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ------------------------------ */

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1057px;
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50px;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 112px;
}
.header__logo {
}
.header__manu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 252px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px 0px 0px;
}
.menu__list {
  display: flex;
  /* посмотреть что такое gap */
  /* gap: 40px; */
}
.menu_item {
  margin: 0px 40px 0px 0px;
}
.menu__link {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: black;
}
.header__button {
  display: flex;
  justify-content: flex-end;
}
.button {
  display: inline-block;
  font-family: Raleway;
  font-weight: 800;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #fcfdfe;
  border-radius: 5px;
  padding: 14px 30px;
  background: #ec5863;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #f37a82;
}

.button_blue {
  background-color: #4285f4;
}

.button_blue:hover {
  background-color: #70a3f7;
}
